.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 20px;
  color: white;
}

.footer-links {
  display: -webkit-inline-box;
  -webkit-box-align: center;
  width: 285px;

  a {
    color: #277c00;
    opacity: 0.8;
    text-decoration: none;
    font-size: 28px;
    padding: 0px 15px;
    &:hover {
        opacity: 1;
    }
  }
}

$size: 24px;

.rails-social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    padding: 10px;
    margin: 6px 10px 0 0;
  }
}

.footer-brand {
  height: 29px;
  margin: 0 0 10px 8px;
}

.footer-copyright {
  color: white;
  margin-right: 20px;
}

.show {
  .footer-links {
    background-color: white;
    position: absolute;
    top: -55px;
    left: 18px;
    float: none;
  }
}

@media (min-width: 768px) {
  .show {
    .footer-links {
      background-color: transparent;
      position: absolute;
      top: -13px;
      left: 16px;
      float: none;
      display: -webkit-inline-box;
      -webkit-box-align: center;
      width: 285px;

      a {
        color: #277c00;
        opacity: 0.8;
        text-decoration: none;
        font-size: 28px;
        padding: 0px 15px;
        &:hover {
            opacity: 1;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .show {
    .rails-social-share-button {
      .ssb-icon {
        background-size: $size $size;
        height: $size;
        width: $size;
        padding: 10px;
        margin: 6px 10px 0 0;
      }
    }
  }
}
