.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 20px;
  color: white;
}

.footer-links {
  display: flex;
  align-items: center;

  a {
    color: white;
    opacity: 0.8;
    text-decoration: none;
    font-size: 28px;
    padding: 0px 15px;
    &:hover {
        opacity: 1;
    }
  }
}

$size: 24px;

.rails-social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    padding: 10px;
    margin: 6px 10px 0 0;
  }
}

.footer-brand {
  height: 29px;
  margin: 0 0 10px 8px;
}

.footer-copyright {
  color: white;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  top: 62px;
  left: -145px;
  float: none;
}

// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .form-and-cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .form-and-cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .form-and-cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .form-and-cards {
//     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .form-and-cards {
//     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
//   }
// }
