.search-form {
align-items: center;
}

.search-form .btn-treehouse {
  margin-left: 20px;
}

.form-control {
  border-radius: 16px;
}

.search-form-input {
  width: 100%;
}

.add-form {
  width: 270px;
  margin-top: 20px;
}
