.btn-treehouse {
  color: white;
  padding: 0.375rem 25px;
  border-radius: 16px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}

.btn-treehouse:hover {
  background: #3ac161;
}
