.btn-treehouse {
  color: white;
  padding: 0.375rem 25px;
  border-radius: 16px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}

.btn-treehouse:hover {
  color: white;
  text-decoration: none;
  background: #3ac161;
}

.btn-grey {
  color: white;
  padding: 0.375rem 25px;
  border-radius: 16px;
  font-weight: bold;
  background: lightgrey;
  transition: background 0.3s ease;
}

.btn-grey:hover {
  color: white;
  text-decoration: none;
  background: grey;
}

.fas.fa-trash-alt {
  margin-left: 20px;
  font-size: 16px;
  color: red;
  align-items: center;
  height: 30px;
  width: 30px;
  opacity: 0.8;
  &:hover {
    color: #ce1a1a;
    text-decoration: none;
    opacity: 1;
  }
}

