.doses-table tbody tr:nth-of-type(odd) td {
    background: hsla(0,0%,84.7%,.3);
}

.doses-table {
  margin: 20px 0;
  width: 600px;
}

.td-left {
  padding: 8px;
  text-align: right;
  width: 33.33%;
}

.td-middle {
  padding: 8px;
  text-align: left;
  width: 66.66%;
}

.td-right {
  text-align: right;
}

.fas.fa-trash-alt {
  margin: 0 20px;
  font-size: 16px;
  color: red;
  align-items: center;
  opacity: 0.8;
  &:hover {
    color: #ce1a1a;
    text-decoration: none;
    opacity: 1;
  }
}
